#image{
    background-image: url('./background.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
body{
    background-color: lightgray;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#content{
    position: absolute;
    top: 3rem;
    text-align: center;
    width: 100%;
    margin: auto;
}
.navbar >li{
    list-style: none;
    cursor: pointer;
}
.navbar > li:hover{
    transform: translateY(-2px);
    text-decoration: underline;
    text-decoration-color: green;
    transition : all 500ms;
}
.navbar{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    height: 10vh;
}

.mid{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 90%;
    height: 90vh;
    margin: auto;
    gap: 2rem;
}

.displayFood{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.disp{
    height: 38vh;
    border-radius: 40%;
}
.about{
    font-size: 2rem;
    height: 10vh;
    font-style: oblique;
}